<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="OpenOffice.org 3.0  (Linux)">
	<META NAME="CREATED" CONTENT="20080919;13413800">
	<META NAME="CHANGED" CONTENT="0;0">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.27in 11.69in; margin-left: 0.79in; margin-right: 0.79in; margin-top: 0.38in; margin-bottom: 0.33in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; text-align: left; widows: 0; orphans: 0 }
		P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ru-RU }
		P.cjk { font-family: "Lucida Sans Unicode"; font-size: 12pt; so-language: zxx }
		P.ctl { font-family: "Tahoma"; font-size: 12pt; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=1 STYLE="font-size: 7pt"><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ПРИЛОЖЕНИЕ №1 К ДОГОВОРУ <%= @travel.id %> </B></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B>г.
      Калининград    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   от "<%= @travel.created_at.mday%>" <%= @month%> <%= @travel.created_at.year %> г.</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><BR></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B>Сторона,
именуемая в договоре &quot;Турагент&quot;: <%= @travel.tourist.surname_kir + ' ' + @travel.tourist.name_kir + ' '%> <%= if @travel.tourist.pasport_ros then @travel.tourist.pasport_ros ;   end;%> 
</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><BR></FONT></FONT><BR>
</P>

<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><BR></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B>Сторона,
именуемая в договоре &quot;Турист&quot;:</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><BR></FONT></FONT><BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 7pt"><B>ЗАЯВКА
НА БРОНИРОВАНИЕ ТУРПРОДУКТА</B></FONT></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><BR></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B>1.
ТУРИСТЫ: </B></FONT></FONT>
</P>
<a name="0.1_table01"></a>
    <table width="747" border="2" cellspacing="0">
      <tr valign="top"><td rowspan="2" height="10">
          <font size="1" face="Arial">ФИО + (транскрипция в загранпаспорте 
            гражданина <br>
            РФ для выезда из РФ и въезда в РФ)</font></td>
        <td rowspan="2"><font size="1" face="Arial">Дата рождения</font></td>

        <td colspan="2"><font size="1" face="Arial">Паспорт</font></td>
        <td colspan="2"><font size="1" face="Arial">Продолжительность 
            путешествия*</font></td></tr>
      <tr valign="top"><td><font size="1" face="Arial">серия, N</font></td>
        <td><font size="1" face="Arial">действует до</font></td>
        <td><font size="1" face="Arial">начало</font></td>
        <td><font size="1" face="Arial">окончание</font></td></tr>
      <% @users.each do |t| %>
      <tr valign="top">
        <td><%=  t.surname_kir + ' ' + t.name_kir + ' ' + t.ot4_kir + " \n " + t.surname_lat + ' ' + t.name_lat %> </td>
        <td><%=  t.borndate %> </td>
        <td><%=  t.seriya_zag_pasp.to_s + ' ' + t.nomer_zag_pasp.to_s %> </td>
        <td><%=  t.actual_date_zag %> </td>
        <td><%=  @start_date %> </td>
        <td><%=  @end_date %> </td>
      </tr>
    <% end %>

</table>
<p><font size="1" face="Arial"><b> <br>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>2.
Размещение по маршруту: </B></FONT></FONT>
</P>
<TABLE WIDTH=747 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=58>
	<COL WIDTH=63>
	<COL WIDTH=219>
	<COL WIDTH=169>
	<COL WIDTH=77>
	<COL WIDTH=132>
	<TR>
		<TD WIDTH=58>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Страна</FONT></FONT></P>
		</TD>
		<TD WIDTH=63>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Город</FONT></FONT></P>
		</TD>
		<TD WIDTH=219>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Отель/категория
			</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><I>(по
			каталогу ТО)</I></FONT></FONT></FONT></P>
		</TD>
		<TD WIDTH=169>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Период
			пребывания (с-по)</FONT></FONT></P>
		</TD>
		<TD WIDTH=77>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Тип
			номера</FONT></FONT></P>
		</TD>
		<TD WIDTH=132>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Питание</FONT></FONT></P>
		</TD>
      </TR>
      <% @travel.travelpoint.each do |x| %>
	<TR>
		<TD WIDTH=58>
          <P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
          <%= x.country.name %>
			</P>
		</TD>
		<TD WIDTH=63>
          <P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
          <%= x.city.name %>
			</P>
		</TD>
		<TD WIDTH=219>
          <P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
          <%= x.hotel.name %>
			</P>
		</TD>
		<TD WIDTH=169>
          <P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
          <%= x.date_start.to_s + " - "+ x.date_end.to_s %>
			</P>
		</TD>
		<TD WIDTH=77>
          <P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
          <%= x.roomtype.name %>
			</P>
		</TD>
		<TD WIDTH=132>
          <P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
          <%= x.foodtype.name %>
			</P>
		</TD>
      </TR>
    <% end %>
</TABLE>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>3.
Услуги: 3.1. Турпродукт: </B></FONT></FONT>
</P>
<TABLE WIDTH=749 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=149>
	<COL WIDTH=417>
	<COL WIDTH=167>
	<TR>
		<TD WIDTH=149>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Наим.</FONT></FONT></P>
		</TD>
		<TD WIDTH=417>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Описание</FONT></FONT></P>
		</TD>
		<TD WIDTH=167>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Количество<BR>туристов</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=149>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Перевозка</FONT></FONT></P>
		</TD>
		<TD WIDTH=417>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
		<TD WIDTH=167>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=149>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Трансфер</FONT></FONT></P>
		</TD>
		<TD WIDTH=417>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
		<TD WIDTH=167>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=149>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Перевозка</FONT></FONT></P>
		</TD>
		<TD WIDTH=417>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
		<TD WIDTH=167>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=149>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Страховка</FONT></FONT></P>
		</TD>
		<TD WIDTH=417>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
		<TD WIDTH=167>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=149>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Трансфер</FONT></FONT></P>
		</TD>
		<TD WIDTH=417>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
		<TD WIDTH=167>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>3.2.
Доп. услуги: </B></FONT></FONT>
</P>
<TABLE WIDTH=749 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=251>
	<COL WIDTH=291>
	<COL WIDTH=191>
	<TR>
		<TD WIDTH=251>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Описание</FONT></FONT></P>
		</TD>
		<TD WIDTH=291>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Количество</FONT></FONT></P>
		</TD>
		<TD WIDTH=191>
			<P LANG="ru-RU" ALIGN=CENTER STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Цена</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>3.3.
Примечания: </B></FONT></FONT>
</P>
<TABLE WIDTH=749 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=741>
	<TR>
		<TD WIDTH=741>
          <P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
          <%= @travel.description %>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>4.
Общая стоимость турпродукта (в рублях):
</B></FONT></FONT>
</P>
<TABLE WIDTH=748 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=610>
	<COL WIDTH=126>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Общая
			цена турпродукта составляет:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=126>
          <P LANG="ru-RU" ALIGN=RIGHT STYLE="border: none; padding: 0in"><BR>
          <%= @travel.cena %>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Стоимость
			доп.услуг составляет:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=126>
          <P LANG="ru-RU" ALIGN=RIGHT STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Скидка</B></FONT></FONT></FONT><FONT COLOR="#000000">
			</FONT><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">(Внимание!
			Скидки на дополнительные оплаты не
			распространяются): </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=126>
			<P LANG="ru-RU" ALIGN=RIGHT STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Предоплата
			(не менее 50%): </B></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=126>
          <P LANG="ru-RU" ALIGN=RIGHT STYLE="border: none; padding: 0in"><BR>
          <%= @travel.predoplata.to_s %>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Общая
			стоимость турпродукта составляет:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=126>
			<P LANG="ru-RU" ALIGN=RIGHT STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Полная
			оплата турпродукта производится в
			срок до:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=126>
			<P LANG="ru-RU" ALIGN=RIGHT STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<!--
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>5.
Информация о туроператоре - непосредственном
исполнителе услуг, входящих в турпродукт:
</B></FONT></FONT>
</P>
<TABLE WIDTH=749 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=741>
	<TR>
		<TD WIDTH=741>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Anextour
			(ООО «Анекс Тур»)</B></FONT></FONT></FONT><FONT COLOR="#000000">
			</FONT><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Адрес
			(место нахождения) Москва, Ленинградский
			пр., д.80, корп.17 Реестровый N MB 000505. ИНН:
			7743040782, КПП 774301001, ОГРН 1027700542650, ОКПО
			17788676. Банковские реквизиты: Р/с
			40702810000001001136 в ЗАО АКБ «Япы Креди Банк
			Москва», К/С 30101810300000000448 , БИК 44525448.
			Финансовое обеспечение: Договор о
			страховании гражданской ответственности
			Туроператора за неисполнение или
			ненадлежащее исполнение обязательств
			по реализации Туристского продукта
			№ ГС41 ГОТО №00016 от 10 мая 2007 года на
			срок до 31 мая 2009 года на сумму 10 (десять)
			миллионов рублей. Страховой гарант:
			Закрытое акционерное общество
			«ГУТА-Страхование». Адрес: 107078, г.Москва,
			Орликов пер., д.5, стр.3, телефон: 783-41-64,
			факс: 783-41-87. </FONT></FONT></FONT>
			</P>
		</TD>
	</TR>
  </TABLE>
  -->
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>6.
Дополнительно: </B></FONT></FONT>
</P>
<TABLE WIDTH=748 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=476>
	<COL WIDTH=259>
	<TR>
		<TD WIDTH=476>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Встречи:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=259>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=476>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Проводы:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=259>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=476>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Сопровождение:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=259>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=476>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt"><B>Минимальное
			количество человек в группе, необходимое
			для совершения путешествия (по условиям
			групповых и экскурсионных программ
			туроператора)</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=259>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>7.
Турист заявляет о том, что: </B></FONT></FONT>
</P>
<TABLE WIDTH=749 BORDER=2 CELLPADDING=2 CELLSPACING=0>
	<COL WIDTH=610>
	<COL WIDTH=127>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">7.1.
			С правилами страхования от невыезда
			ознакомлен(а):</FONT></FONT></P>
		</TD>
		<TD WIDTH=127>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Подпись</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">а)
			Согласен (согласна) оформить страховку
			от невыезда:</FONT></FONT></P>
		</TD>
		<TD WIDTH=127>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Подпись:</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">б)
			Отказываюсь оформить страховку от
			невыезда:</FONT></FONT></P>
		</TD>
		<TD WIDTH=127>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Подпись:</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">7.2.
			С информацией о стране пребывания,
			условиях и особенностях осуществления
			путешествия, правилами безопасности
			и поведения в стране пребывания
			ознакомлен(а)</FONT></FONT></P>
		</TD>
		<TD WIDTH=127>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Подпись:</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=610>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">7.3.
			Информацию о финансовом обеспечении
			туроператора, основаниях и порядке
			выплаты страхового возмещения или
			уплаты денежной суммы по банковской
			гарантии получил(а)</FONT></FONT></P>
		</TD>
		<TD WIDTH=127>
			<P LANG="ru-RU" STYLE="border: none; padding: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1 STYLE="font-size: 6pt">Подпись:</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><BR>
Турагент:    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Турист
      <BR>_____________________/<%= Customer.first.director %>/
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
________________________/<%= @travel.tourist.surname_kir + ' ' + @travel.tourist.name_kir + '.' + @travel.tourist.ot4_kir + '.' %> /</B></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><U><B>
</B></U></FONT></FONT><FONT FACE="Arial, sans-serif"><FONT SIZE=1><B><br /> <br />м.
п. </B></FONT></FONT>
</P>
</BODY>
</HTML>
