<style type="text/css">
  div.auto_complete {
    width: 350px;
    background: #fff;
   }
  div.auto_complete ul {
      border:1px solid #888;
      margin:0;
      padding:0;
      width:100%;
      list-style-type:none;
    }
  div.auto_complete ul li {
   margin:0;
   padding:3px;
   }
  div.auto_complete ul li.selected {
   background-color: #ffb;
   }
  div.auto_complete ul strong.highlight {
   color: #800;
   margin:0;
   padding:0;
  }
</style>

<% form_for :travel, :url => { :controller => 'travel', :action => 'save'}, :html => { :multipart => true }  do |t| %>
  <!-- добавление туристов в список едущих-->
  <div id='tourists_list'>
    <h3><p onclick="new insertElement()">Добавить туриста</p></h3>
    <div id="input_1"><%= t.text_field :surname_kir, :id => 't1'%></div>
    <div id="tt1" class="auto_complete"></div>
      <%= auto_complete_field  't1', :update =>  'tt1', :url => { :action => 'select_tourist'} %>

    <div id="input_2"><%= t.text_field :surname_kir2, :id => 't2'%></div>
    <div id="tt2" class="auto_complete"></div>
    <%= auto_complete_field  't2', :update =>  'tt2', :url => { :action => 'select_tourist'} %>

    <script language="JavaScript">
      var clicknom = 2;
      function insertElement() {
        clicknom++;
        divid = "tourist_" + clicknom
        div = document.getElementById("tourists_list");
        jsnewel = '//<![CDATA[' + "\n"  + 'var t' + clicknom + '_auto_completer = new Ajax.Autocompleter(\'t'  + clicknom + '\', \'tt'  + clicknom + '\', \'/travel/select_tourist\', {})' + "\n" + '//]]>'
        newel = Builder.node('div',{id:"input_"+clicknom},[Builder.node('input',{id:"t"+clicknom,name:'travel[surname_kir'+clicknom+']',size:'30',type:'text'})]);
        newel2 = Builder.node('div',{id:'tt'+clicknom,class:'auto_complete'});
        newel3 = Builder.node('script',{type:'text/javascript'},[jsnewel])
        div.appendChild(newel);
        div.appendChild(newel2);
        div.appendChild(newel3);
        }
    </script>
  </div>

  <!-- конец добавления в список едущих-->
  <!-- добавляем точки маршрута -->
  <%= render 'travelpoint/new.html.erb' %>
<div id="wrap"></div><br />
  <span id="hotel_controller" onclick="new Hotelnom()"><h3>Add Hotel</h3></span>
  <script language="JavaScript">
    var hnom = 0;
    function Hotelnom () {
      new Ajax.Request('/travelpoint/new_point/' + hnom , {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('ht8fyKBVFZcXYnLk2S/5n4gmPDHlihvPqdCPtMVQodY=')});hnom++;return false;
    }
  </script>
  <!-- все отели добавлены-->
  <!-- файлы подтверждающие оплату туриста-->
  <% t.fields_for :attachment_attributes, :multipart => true do %>
    <div style="float:left;">
    <table class="tb_1_grey" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="td_1_grey">Документы туриста</td>
      </tr>
      <tr>
        <td class="td_2_grey">Платежка</td><td><%= file_field_tag 'platezhka' %></td>
      </tr>
      <tr>
        <td class="td_2_grey">Подтверждени</td><td><%= file_field_tag 'podtverzhd' %></td>
      </tr>
    </table>
  </div>
  <% end %>

  <!-- файлы туриста закончены-->
  <!-- файлы туроператору-->
  <div style="float:right;">
    <table class="tb_1_grey" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td colspan="2" class="td_1_grey">Документы оператору</td>
        </tr>
    <tr>
      <td class="td_2_grey">Платежка</td>
      <td> <%= file_field_tag 'platezh_operatory' %> </td>
    </tr>
    <tr>
      <td class="td_2_grey">Подтверждение</td>
      <td> <%= file_field_tag 'podtv_operatory' %></td>
    </tr></tbody></table>
</div>

   
<!-- файлы туроператора закончены -->
<div id="wrap">
</div>
<table>
  <tr><td>Цена</td><td><%= t.text_field :cena, :id => 'cena' %></td></tr></table><br />
  <div id="platezhi">
    <table>
      <tr><h3>Платежи внесенные клиентом</h3></tr>
      <tr>
        <td>Предоплата</td>
        <td><%= t.text_field :predoplata , :onchange => "new SumVal()"%></td>
        <td><%= select "travel", "predoplata_type",['наличными','безналом'].collect {|p| [p,p]}%></td>
      </tr>
      <tr>
        <td>Доплата</td>
        <td><%= t.text_field :doplata , :onchange => "new SumVal()"%></td><td><%= select "travel", "doplata_type", ['наличными','безналом'].collect {|p| [p,p]}%></td>
      </tr>
      <tr>
        <td>Общая сумма</td><td><input type="text" readonly id="inputsum" size="30"></td>
      </tr>
    </table>
    <% javascript_tag :defer => 'defer' do -%>
      function SumVal () {
      itog = document.getElementById("inputsum");pred = document.getElementById("travel_predoplata");post = document.getElementById("travel_doplata");sum = pred.value*1 + post.value*1 ;itog.value = sum;
      }
    <% end -%> 
  </div>
  <%= t.text_area :description %><br />
<%= submit_tag "Сохранить" %>
<% end %>
