<p>
  <b>Name:</b>
  <%=h @customer.name %>
</p>

<p>
  <b>Yur adress:</b>
  <%=h @customer.yur_adress %>
</p>

<p>
  <b>Fiz adress:</b>
  <%=h @customer.fiz_adress %>
</p>

<p>
  <b>Phone:</b>
  <%=h @customer.phone %>
</p>

<p>
  <b>Ogrn:</b>
  <%=h @customer.ogrn %>
</p>

<p>
  <b>Inn:</b>
  <%=h @customer.inn %>
</p>

<p>
  <b>Kpp:</b>
  <%=h @customer.kpp %>
</p>

<p>
  <b>R s4:</b>
  <%=h @customer.r_s4 %>
</p>

<p>
  <b>Bank:</b>
  <%=h @customer.bank %>
</p>

<p>
  <b>Bik:</b>
  <%=h @customer.bik %>
</p>

<p>
  <b>Director:</b>
  <%=h @customer.director %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>