<% form_for :tourist,@tourist, :url => { :controller => 'tourist', :action => 'save', :id => params[:id]} do |t| %>
  <table>
    <tr>
      <td><%= t.label "Фамилия кириллицей" %></td>
      <td><%= t.label "Имя кириллицей" %></td>
      <td><%= t.label "Отчество кириллицей" %></td>
    </tr>
    <tr>
      <td><%= t.text_field :surname_kir %></td>
      <td><%= t.text_field :name_kir %></td>
      <td><%= t.text_field :ot4_kir %></td>
    </tr>
    <tr>
      <td><%= t.label "Имя латиница" %></td>
      <td><%= t.label "Фамилия латиница " %></td>
    </tr> 
    <tr>
      <td><%= t.text_field :name_lat %></td>
      <td><%= t.text_field :surname_lat %></td>
    </tr>
    <tr>
      <td><%= t.label "Серия загранпаспорт" %></td>
      <td><%= t.label "Номер загран паспорт" %></td>
      <td><%= t.label "Телефон" %></td>
    </tr> 
    <tr>
      <td><%= t.text_field :seriya_zag_pasp %></td>
      <td><%= t.text_field :nomer_zag_pasp %></td>
      <td><%= t.text_field :phone %></td>
    </tr> 
    <tr>
      <td><%= t.label "Пол" %></td>
      <td><%= t.label "Дата рождения" %></td>
      <td><%= t.label "Реклама" %></td>
    </tr> 
    <tr>
      <td><%= select('tourist','sex',['Женщина','Мужчина','Ребенок'],{}, { :selected => @tourist.sex } ) %></td> <!-- FIXME при редактировании правильный пол выводить-->
      <td><%= calendar_date_select_tag "tourist[borndate]" , @tourist.borndate ? @tourist.borndate : '' %></td>
      <td><%= t.text_field :reklama %></td>
    </tr>
  </table>
  <br />
  <%= t.text_area :pasport_ros , :cols => 50, :rows => 10 %>
  <br />
  <br />
  <br />
   <%= submit_tag "Сохранить" %>
<% end %>

