<% form_for :tourist,@tourist, :url => { :controller => 'tourist', :action => 'save', :id => params[:id]} do |t| %>
  <table>
    <tr>
      <td><%= t.label "Фамилия кириллицей" %></td>
      <td><%= t.label "Имя кириллицей" %></td>
      <td><%= t.label "Отчество кириллицей" %></td>
    </tr>
    <tr>
      <td><%= t.text_field :surname_kir,  :value => 'Фамилия кириллица',  :onfocus => "this.value=''" %></td>
      <td><%= t.text_field :name_kir,     :value => 'Имя кириллица',      :onfocus => "this.value=''" %></td>
      <td><%= t.text_field :ot4_kir ,     :value => 'Отчество кириллица', :onfocus => "this.value=''" %></td>
    </tr>
    <tr>
      <td><%= t.label "Имя латиница" %></td>
      <td><%= t.label "Фамилия латиница " %></td>
    </tr> 
    <tr>
      <td><%= t.text_field :name_lat,     :value => 'Имя латиница',       :onfocus => "this.value=''" %></td>
      <td><%= t.text_field :surname_lat,  :value => 'Фамилия латиница',       :onfocus => "this.value=''" %></td>
    </tr>
    <tr>
      <td><%= t.label "Серия загранпаспорт" %></td>
      <td><%= t.label "Номер загран паспорт" %></td>
      <td><%= t.label "Выдан" %></td>
    </tr> 
    <tr>
      <td><%= t.text_field :seriya_zag_pasp ,  :value => 'Серия загран паспорта',       :onfocus => "this.value=''"%></td>
      <td><%= t.text_field :nomer_zag_pasp ,  :value => 'Номер загран паспорта',       :onfocus => "this.value=''"%></td>
      <td><%= t.text_field :issued, :value => 'Выдан', :onfocus => "this.value=''" %></td>
    </tr> 
    <tr>
      <td><%= t.label "Пол" %></td>
      <td><%= t.label "Дата рождения" %></td>
      <td><%= t.label "Загран паспорт действ. до" %></td>
    </tr> 
    <tr>
      <td><%= select('tourist','sex',['Женщина','Мужчина','Ребенок']) %></td>
      <td><%= calendar_date_select_tag "tourist[borndate]","Дата рождения" , :year_range => 80.years.ago..0.years.from_now %></td>
      <td><%= calendar_date_select_tag 'tourist[actual_date_zag]',"Загран паспорт действ до", :year_range => 1.years.ago..10.years.from_now%></td>
    </tr>
    <tr>
      <td><%= t.label "Телефон" %></td>
      <td><%= t.label "Реклама" %></td>
    </tr> 
    <tr>
      <td><%= t.text_field :phone ,  :value => 'телефон',       :onfocus => "this.value=''"%></td>
      <td><%= t.text_field :reklama ,  :value => 'Реклама',       :onfocus => "this.value=''"%></td>
    </tr> 


          
  </table>
  <br />
  <table>
    <tr>

      <td><%= t.label "Прописка" %></td>
      <td><%= t.label "Российский паспорт" %></td>
    </tr>
    <tr>
      <td><%= t.text_area :propiska, :cols => 54, :rows => 8,  :value => 'Прописка',       :onfocus => "this.value=''" %></td>
  <td><%= t.text_area :pasport_ros , :cols => 54, :rows => 8,  :value => 'Паспорт Российский',       :onfocus => "this.value=''"%></td>
</tr>
</table>
  <br />
  <br />
  <br />
   <%= submit_tag "Сохранить" %>
<% end %>

