<p>
  <b>Name:</b>
  <%=h @tyroper.name %>
</p>

<p>
  <b>Shortname:</b>
  <%=h @tyroper.shortname %>
</p>

<p>
  <b>Adress:</b>
  <%=h @tyroper.adress %>
</p>

<p>
  <b>Mailadress:</b>
  <%=h @tyroper.mailadress %>
</p>

<p>
  <b>Mbt:</b>
  <%=h @tyroper.mbt %>
</p>

<p>
  <b>Finobes:</b>
  <%=h @tyroper.finobes %>
</p>

<p>
  <b>Dogovor:</b>
  <%=h @tyroper.dogovor %>
</p>

<p>
  <b>Orgfinobes:</b>
  <%=h @tyroper.orgfinobes %>
</p>

<p>
  <b>Adressfinobes:</b>
  <%=h @tyroper.adressfinobes %>
</p>

<p>
  <b>Mailadressfinobes:</b>
  <%=h @tyroper.mailadressfinobes %>
</p>


<%= link_to 'Edit', edit_tyroper_path(@tyroper) %> |
<%= link_to 'Back', tyropers_path %>