<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Language" content="ru" />
    <title>Твой Мир</title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "menu" %>
    </head>
    <body>
      <div>
        <div id="header">
          <span class='logo'>
            <%= image_tag 'rails.png', :height => "40", :border => "0", :alt => "Company Logo" %>
          </span>
          <span class='welcome'>
           Добро пожаловать: <%= session[:login] %>
           <%= link_to "Выход", :controller => "account", :action => "logout" %>
          </span>

          <h1>Твой Мир</h1>
          <!-- вставить закладки для навигации по функциям -->
        </div>
        <div id='menul'>
          <!-- меню слева от основной информации-->
          <%= link_to "Создать туриста", :controller => "tourist", :action => 'new' %>
          <%= link_to "Создать сделку", :controller => "travel", :action => 'new' %>
        </div>

          <div id="content">

            <%= yield -%>
          </div>
          <div id="sidebar"></div>
      </div>
  </body>
</html>

